body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*START OF NAVBAR*/
@media(max-width:680px){
    .nav-container .nav-wrapper ul{
        padding-left: 70px;
        padding-right: 50px;
    }
}
@media(max-width:565px){
    .nav-container .nav-wrapper li{
        font-size: 20px;
    }
    .nav-container .nav-wrapper ul{
        padding-left: 20px;
        padding-right: 0px;
    }
}
#port-logo{
    color: white;
    font-size: 30px;
    margin-right: 245px;
    padding-top: 14px;
}
.nav-container{
    position: fixed;
    background-color: rgba(1, 22, 23, 0.603);
    width: 100%;
    z-index: 1;
}

.nav-wrapper  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 120px;
    padding-right: 100px;
}
.nav-wrapper li{
    padding-top: 20px;
    font-size: 25px;
}
.nav-wrapper ul > li > a {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .5s;
}

.nav-wrapper > ul > li > a:hover{
    color: rgb(0, 232, 182);
}

/*END OF NAVBAR*/


/*START OF HERO PAGE*/

@media(max-width:470px){
    .hero-page .hero-page-content .hero-image img{
        height: 160px;
        width: 150px;
    }
    .hero-page .hero-page-content .hero-name p{
        font-size: 40px;
    }
}

.hero-page{
background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(https://images8.alphacoders.com/111/1110975.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 750px;
width: 100%;
z-index: -1;
}
.hero-page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 450px;
    width: 100%;
}
.hero-image > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-radius: 50%;
}
.hero-name{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 232, 182);
    font-size: 50px;
    font-weight: bold;
}
.hero-subtitle{
    text-align: center;
    margin-top: -20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.hero-page-scroll-container{
    position: relative;
    top: 85%;
}
.hero-page-scroll{
    position: relative;
    border-top: solid white;
    width: 50px;
}
.hero-page-scroll p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%,-65%);
    color: white;
    width: 100px;
}

/*END OF HERO PAGE*/


/*START OF ABOUT ME PAGE */
@media(max-width:1080px){
    .about-me-container .row .col-md-6 #about-me-img img{
        height: 400px;
        width: 250px;
    }
}
@media(max-width:960px){
    .about-me-container .row .col-md-6 #about-me-img{
        margin-left: 20%
    }
    .about-me-container .row .col-md-6 #about-me-img img{
        height: 400px;
        width: 260px;
        padding-right: 10px;
    }
    .container-fluid .row .col-md-6 .about-me-content{
        padding: 0px 75px 55px 10px;
    }
}
@media(max-width:767px){
    .container-fluid .row .col-md-6 .about-me-content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-me-container .row .col-md-6 #about-me-img img{
        height: 525px;
        width: 335px;
        margin-top: 0px;
        padding-bottom: 50px;
        padding-right: 0px;
    }
    .about-me-container .row .col-md-6 #about-me-img{
        margin-left: 0px;
        text-align: center;
    }
    .about-me-container .row .col-md-6 .about-me-content .resume-button{
        text-align: center;
    }
    .about-me-content .about-me-skills p{
        padding-left: 0px;
        text-align: center;
    }
    .about-me-skills ul{
        justify-content: space-around;
    }
    .about-me-skills ul div li{
        font-size: 20px;
    }
}
@media(max-width:450px){
    .about-me-container .row .col-md-6 #about-me-img img{
        height: 415px;
        width: 250px;
    }
}
@media(max-width:400px){
    .about-me-container .row .col-md-6 #about-me-img{
        padding: 30px 0px 0px 0px;
    }
}
@media(max-width:415px){
    .about-me-container .row .col-md-6 .about-me-content{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.container-fluid{
    background-color: rgb(0,28,32);
}

.about-me-content{
    margin-right: auto;
    color: white;
    padding: 0px 125px 55px 10px;
}
#about-me-img{
    margin-left: 30%;
}
#about-me-img img{
    height: 450px;
    width: 320px;
}
.about-me-page-counter-container{
    height: 100px;
}
.about-me-page-counter{
    margin-left: auto;
    width: 100px;
}
.about-counter-text{
    position: relative;
    border-bottom: solid rgb(0, 232, 182);
    padding-top: 50px;
}
.about-counter-text p{
    position: absolute;
    right: 100%;
    bottom: -55%;
    font-size: 40px;
    color: rgb(0, 60, 70);
    margin-bottom: 0px;
}

.about-me-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me-header > p{
    margin-bottom: 0px;
    font-weight: bold;
    color: rgb(0, 232, 182);
}
.about-me-header > h3{
    border-bottom: solid rgb(0, 232, 182);
    width: 135px;
}
.about-me-information{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about-me-information p{
    padding: 0px;
}
.about-me-skills{
    border: solid rgb(0, 232, 182);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me-skills p{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 0px;
}

.about-me-skills ul{
    display: flex;
    padding-top: 15px;
}
.about-me-skills ul div{
    margin-right: 50px;
}
.resume-button{
    margin-top: 25px;
    font-size: 20px;
}
.resume-button > button{
    border: none;
    background-color: rgb(0, 232, 182);
    padding: 10px 13px 10px 13px;
    width: 150px;
    font-weight: bold;
    transition: .5s;
}
.resume-button > button:hover{
    background-color: white;
}
.resume-button a{
    color: black;
    text-decoration: none;
}
.about-me-tech div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-me-tech div img{
    height: 115px;
    width: 115px;
}



/*END OF ABOUT ME PAGE */

/*START OF PROJECT SECTION */
@media(max-width: 1260px){
    .projects-container .img-links .row .col-md-3 img{
        height: 150px;
        width: 200px;
    }
    .projects-container .img-links .row .col-md-3 img#active-project{
        height: 190px;
        width: 225px;
    }
}
@media(max-width: 940px){
    .projects-container .img-links .row .col-md-3 img{
        height: 115px;
        width: 160px;
    }
    .projects-container .img-links .row .col-md-3 img#active-project{
        height: 150px;
        width: 185px;
    }
}
@media(max-width:767px){
    .projects-container .row .col-md-12 #project-header{
        margin-left: 50px;
    }
    .about-me-container .about-me-tech{
        display: none;
    }
    html body .project-description-con{
        display: none;
    }
    .projects-container .img-links{
        display: none;
    }
}
@media(min-width:767px){
    .projects-container .mobile-img-links{
        display: none;
    }
}
@media(max-width:450px){
    .mobile-img-links div a img{
        height: 250px;
        width: 300px;
    }
}
@media(max-width:375px){
    .projects-container .row .col-md-12 #project-header{
        margin-left: 15px;
    }
}

.projects-container{
    background-color: rgb(0, 37, 43);
    padding: 0px 100px 75px 100px;
}
.projects-page-counter-container{
    height: 100px;
}
.projects-page-counter{
    margin-left: auto;
    width: 100px;
}
.projects-counter-text{
    position: relative;
    border-bottom: solid rgb(0, 232, 182);
    padding-top: 50px;
}
.projects-counter-text p{
    position: absolute;
    right: 100%;
    bottom: -55%;
    font-size: 40px;
    color: rgb(0, 80, 94);
    margin-bottom: 0px;
}
#project-header{
    display: block;
    border-bottom: solid rgb(0, 232, 182);
    color: white;
    width: 190px;
    border-bottom: solid rgb(0, 232, 182);
    margin-left: 10%;
}
#project-header > h3{
    margin-bottom: 0;
    justify-items: center;
}
#project-header > p{
    margin-bottom: 0;
    font-weight: bold;
    color:rgb(0, 232, 182);
}
.img-links{
    text-align: center;
    margin-top: 50px;
}
.clone-project-image{
    transition: .5s;
    box-shadow: 0 4px 6px 0 rgb(0, 232, 182), 0 5px 12px 0 rgb(0, 232, 182);
}
.clone-project-image:hover{
    box-shadow: 0 4px 6px 0 rgb(0, 232, 182), 0 5px 12px 0 rgb(0, 232, 182);
}
.perfect-project-image{
    transition: .5s;
}
.perfect-project-image:hover{
    box-shadow: 0 4px 6px 0 rgb(0, 232, 182), 0 5px 12px 0 rgb(0, 232, 182);
}
.crud-project-image{
    transition: .5s;
}
.crud-project-image:hover{
    box-shadow: 0 4px 6px 0 rgb(0, 232, 182), 0 5px 12px 0 rgb(0, 232, 182);
}
.api-project-image{
    transition: .5s;
}
.api-project-image:hover{
    box-shadow: 0 4px 6px 0 rgb(0, 232, 182), 0 5px 12px 0 rgb(0, 232, 182);
}
.col-md-3 img{
    height: 200px;
    width: 250px;
    cursor: pointer;
}

.project-description-con{
    display: flex;
    height: 350px;
    width: 100%;
    background-color: purple;
}
.technologies-con{
    width: 50%;
    height: 100%;
    background-color: rgb(0,28,32);
}
.project-description{
    background-color: blue;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 66, 77)
}
.clone-technologies{
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
}
.clone-technologies img{
    height: 125px;
    width: 125px;
}
.clone-description-container{
    display: block;
    padding: 25px;
}
.clone-description p{
    font-size: 20px;
    color: white;
}
.clone-description-container h3{
    text-align: center;
    color: rgb(0, 232, 182);
}
.clone-buttons a button{
    margin-top: 15px;
    margin-right: 5px;
    border: none;
    background-color: rgb(0, 232, 182);
    color: black;
    width: 125px;
    font-weight: bold;
    height: 40px;
    transition: .5s;
    font-size: 18px;
}
.clone-buttons a button:hover{
    background-color: white;
}
.perfect-technologies{
    display: none;
    justify-content: space-evenly;
    padding-top: 35px;
}
.perfect-technologies div{
    margin-bottom: 15px;
}
.perfect-technologies img{
    height: 100px;
    width: 100px;
}
.perfect-description-container{
    display: none;
    padding: 25px;
}
.perfect-description p{
    font-size: 20px;
    color: white;
}
.perfect-description-container h3{
    text-align: center;
    color: rgb(0, 232, 182);
}
.perfect-buttons a button{
    margin-top: 15px;
    margin-right: 5px;
    border: none;
    background-color: rgb(0, 232, 182);
    color: black;
    width: 125px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    transition: .5s;
}
.perfect-buttons a button:hover{
    background-color: white;
}
.crud-technologies{
    display: none;
    justify-content: space-evenly;
    padding-top: 75px;
}
.crud-technologies img{
    height: 115px;
    width: 115px;
}
.crud-description-container{
    display: none;
    padding: 25px;
}
.crud-description p{
    font-size: 20px;
    color: white;
}
.crud-description-container h3{
    text-align: center;
    color: rgb(0, 232, 182);
}
.crud-buttons a button{
    margin-top: 15px;
    margin-right: 5px;
    border: none;
    background-color: rgb(0, 232, 182);
    color: black;
    width: 125px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    transition: .5s;
}
.crud-buttons a button:hover{
    background-color: white;
}
.api-technologies{
    display: none;
    justify-content: space-evenly;
    padding-top: 75px;
}
.api-technologies img{
    height: 115px;
    width: 115px;
}
.api-description-container{
    display: none;
    padding: 25px;
}
.api-description p{
    font-size: 20px;
    color: white;
}
.api-description-container h3{
    text-align: center;
    color: rgb(0, 232, 182);
}
.api-buttons a button{
    margin-top: 15px;
    margin-right: 5px;
    border: none;
    background-color: rgb(0, 232, 182);
    color: black;
    width: 125px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    transition: .5s;
}
.api-buttons a button:hover{
    background-color: white;
}
#active-project{
    height: 250px;
    width: 300px;
}
.technologies-con h3{
    color: rgb(0, 232, 182);
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0px;
}
.mobile-img-links{
    text-align: center;
}
.mobile-img-links div{
    margin-top: 30px;
}
.mobile-img-links div h3{
    color: white;
    margin-top: 30px;
    text-decoration: underline rgb(0, 232, 182);
}
.mobile-img-links div img{
    height: 350px;
    width: 400px;
}
/*END OF PROJECT SECTION */

/*START OF CONTACT SECTION*/
#contact-section{
    background-color: rgb(0, 47, 54);
    width: 100%;
    height: 850px;
    padding-left: 12px;
    padding-right: 12px;
}
@media(max-width:767px){
    #contact-section .contact-header{
        margin-left: 50px;
    }
}
.contact-page-counter-container{
    height: 100px;
}
.contact-page-counter{
    margin-left: auto;
    width: 100px;
}
.contact-counter-text{
    position: relative;
    border-bottom: solid rgb(0, 232, 182);
    padding-top: 50px;
}
.contact-counter-text p{
    position: absolute;
    right: 100%;
    bottom: -55%;
    font-size: 40px;
    color: rgb(0, 97, 114);
    margin-bottom: 0px;
}
.contact-header{ 
    text-align: left;
    color: white;
    margin-bottom: 75px;
    margin-left: 10%;
}
.contact-header > h3{
    border-bottom: solid rgb(0, 232, 182);
    width: 150px;
}
.contact-header p{
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(0, 232, 182);
}
@media(max-width:520px){
    #contact-section .contact-form{
        width: 90%;
    }
}
@media(max-width:400px){
    #contact-section{
        height: 750px;
    }
    #contact-section .contact-form{
        height: 400px;
    }
}
@media(max-width:375px){
    #contact-section .contact-header{
        margin-left: 15px;
        margin-bottom: 30px;
    }
    #contact-section .contact-form{
        width: 95%;
    }
}
.contact-form{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    border: solid rgb(0, 232, 182);
    text-align: center;
    width: fit-content;
    height: 500px;
    width: 500px;
    
}

.contact-form p{
    text-align: left;
    padding-left: 25px;
}

.contact-form div input{
    width: 90%;
}
.contact-form div textarea{
    width: 90%;
}
.contact-form div button{
    margin-top: 25px;
    width: 90%;
    font-size: 24px;
    font-weight: bold;
}
.name-contact > p{
    color: white;
    margin-bottom: 0px;
}
.name-contact > input{
    width: 350px;
}
.email-contact > p{
    color: white;
    margin-bottom: 0px;
    margin-top: 25px;
}
.email-contact > input{
    width: 350px;
}
.message-contact > p{
    color: white;
    margin-bottom: 0px;
    margin-top: 25px;
}
.message-contact > textarea{
    width: 350px;
    height: 175px;
}
.button-contact{
    text-align: center;
    margin-top: 10px;
}
.button-contact > button{
    width: 350px;
    height: 50px;
    background-color: rgb(0, 232, 182);
    color: black;
    border: none;
    transition: .5s;
}
.button-contact > button:hover{
    background-color: white
}
/*END OF CONTACT SECTION*/

/*START OF FOOTER SECTION*/
.footer-section{
    height: 50px;
    width: 100%;
    background-color:rgb(0,28,32);
}
.footer-container{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 232, 182);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    
}
.github-link > a > img{
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}
.linkedin-link > a > img{
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}
/*END OF FOOTER SECTION*/
